extends layout

block content
  
  form(class='loginForm form', method='post')
    div.formTitle 로그인
    table
      tr
        td
          //- input.modalInput(type='email', placeholder='이메일',name='email', required)
          input.input(type='text', placeholder='이메일',name='email', required)
      tr
        td
          input.input(type='password', placeholder='비밀번호', name='password', required)
      tr
        td
          input.submit(type='submit', value='로그인')
      tr
        td
          span 아직 회원이 아니세요? 
            a(href='/signup') 회원가입

  script(type="module" src="/dist/login.bundle.js")