extends layout

block content
  
  header
    div.title
    span.openNav &#x2630;

  section.todo#main
    div.columnList

    div.addColumn + Add Column
    div(class="column_modal hidden")
      div.modal_overlay
      div.modal_content
  aside#mySidenav.sidenav
    div.navHeader
      div &#x2630 Menu
      div(class="closebtn") &times
    div(class="signupbtn menubtn") 회원가입
    div(class="logoutbtn menubtn") 로그아웃
    div.loglist
      div.navHeader
        div 
          i.fas.fa-bell
          span  Activity

  script(type="module" src="/dist/main.bundle.js")
